table[id="out"]{
			width: 760px;
			border: 1px solid #9fala0;
			margin: 0 auto; //上下margin为0，左右自适应，即是居中布局
			padding: 0;
			border-collapse: collapse; //设置合并边框模型
		}

		.foot_style{
			background-color:#90d226;
			text-align: center;
			vertical-align: middle;
			border:thin solid #ffffff; 
			text-decoration: none;
			width: 10%;
			height: 23px;
		}
		#menu_style{
			background-color:#90d226;
			text-align: center;
			vertical-align: middle;
			border:thin solid #ffffff; 
			text-decoration: none;
			width: 10%;
			height: 23px;
		}

		table[id="main"]{
			width: 100%;
			height: 256px;
			border:0;
			padding: 0;
		}

		.wodeweizhi{
			width: 550px;
			vertical-align: top;
			padding-top: 10px;
			padding-left: 10px;

		}
		hr{
			width: 550px;
			text-align: center;
		}

		.zw{

			font-size: 12px;
			font-style: normal;
			line-height: 1.75em;
			font-weight: normal;
			color: #666666;
			text-align: left;
			text-indent: 2em;
		}

		a:link{

			font-size: 12px;
			color: #336699;
			text-decoration: underline;
		}

		table[id="search"]{
			width: 170px;
			height: 110px;
			border:1px solid #ccc;
			padding: 0;
			margin: 0 auto;
		}

		form{
			height: 110px;
			width: 170px;

		}

		input{
			height: 17px;
			width: 67px;
			border:thin solid #467Ba7;

		}

		.dianxingkuanjia{
			text-align: center;
			font-weight: bold;
			color: #06f;

		}

		.dianjizheli{
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			line-height: 1.75em;
			color: #666666;
		}

		#submit{
			text-align: center;
			padding: 2px;
			color: #000;

		}
